.peru .medio {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 5px; }

.peru_items {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  position: relative;
  overflow: hidden; }
  .peru_items img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .peru_items::after {
    z-index: 50;
    content: "";
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    top: 100%;
    left: -50%;
    background: -webkit-linear-gradient(45deg, rgba(0, 94, 255, 0.5) 0%, rgba(209, 142, 242, 0.5) 73%, rgba(209, 142, 242, 0.5) 100%);
    background: -o-linear-gradient(45deg, rgba(0, 94, 255, 0.5) 0%, rgba(209, 142, 242, 0.5) 73%, rgba(209, 142, 242, 0.5) 100%);
    background: linear-gradient(45deg, rgba(0, 94, 255, 0.5) 0%, rgba(209, 142, 242, 0.5) 73%, rgba(209, 142, 242, 0.5) 100%);
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: -webkit-transform .8s;
    transition: -webkit-transform .8s;
    -o-transition: transform .8s;
    transition: transform .8s;
    transition: transform .8s, -webkit-transform .8s; }
  .peru_items:hover:after {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10); }
  .peru_items:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2; }
  .peru_items:nth-child(2) {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1; }
  .peru_items:nth-child(3) {
    grid-column: 5 / span 2;
    grid-row: 1 / span 1; }
  .peru_items:nth-child(4) {
    grid-column: 7 / span 2;
    grid-row: 1 / span 1; }
  .peru_items:nth-child(5) {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1; }
  .peru_items:nth-child(6) {
    grid-column: 5 / span 2;
    grid-row: 2 / span 1; }
  .peru_items:nth-child(7) {
    grid-column: 7 / span 2;
    grid-row: 2 / span 1; }

.contenido-paquete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer; }
  .contenido-paquete .titulo-paquete {
    font-family: "Kavivanar", cursive;
    text-align: center;
    color: white;
    font-size: 35px;
    -webkit-transform: translateX(-500%);
    -ms-transform: translateX(-500%);
    transform: translateX(-500%);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    font-weight: lighter; }
  .contenido-paquete .boton-paquete {
    margin: 10px;
    border-radius: 20px;
    border: 1px solid white;
    background: rgba(27, 62, 106, 0.4);
    padding: 10px 20px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    -webkit-transform: translateX(500%);
    -ms-transform: translateX(500%);
    transform: translateX(500%);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s; }
  .contenido-paquete:hover .titulo-paquete {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .contenido-paquete:hover .boton-paquete {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }

@media screen and (max-width: 768px) {
  .contenido-paquete .titulo-paquete {
    font-size: 22px; }
  .contenido-paquete .boton-paquete {
    font-size: 12px; }
  .promociones-contenedor-total {
    height: 300px; }
  .paquete-derecha {
    width: 40%;
    height: 300px; }
  .peru.entero .medio {
    grid-template-rows: repeat(2, 200px); }
  .beneficio_derecha {
    display: none !important; }
  .peru .medio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .peru .medio .peru_items {
      height: 300px;
      margin-bottom: 15px; }
  .beneficio_izquierda {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .beneficio_izquierda .beneficio_items {
      width: 100%; } }

@media screen and (max-width: 500px) {
  .peru_items {
    width: 100%;
    -o-object-position: center;
    object-position: center;
    height: 150px !important;
    margin-top: 5px; }
  .subtitulo {
    text-align: center; } }

@media screen and (max-width: 400px) {
  .primera-seccion.entero .medio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .paquete-derecha,
  .promociones-contenedor-total {
    width: 100%;
    margin-bottom: 20px; } }
