.banner {
  background: red;
  width: 100%;
  height: 500px;
  position: relative; }
  .banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: bottom;
    object-position: bottom; }

.banner-informacion {
  position: absolute;
  top: 0;
  left: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 40%; }
  .banner-informacion h1 {
    font-family: "Kavivanar", cursive;
    color: #1B3E6A;
    font-size: 35px;
    margin: 10px; }
  .banner-informacion p {
    font-size: 16px;
    margin: 10px;
    line-height: 25px;
    font-family: "Roboto Condensed", sans-serif; }
  .banner-informacion a {
    padding: 15px 5px;
    border: 1px solid white;
    margin: 10px;
    width: 250px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(27, 62, 106, 0.6);
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px; }

@media screen and (max-width: 1000px) {
  .banner-informacion {
    left: 20px; }
    .banner-informacion h1 {
      font-size: 25px; }
    .banner-informacion p {
      font-size: 14px; }
    .banner-informacion a {
      padding: 10px 10px;
      width: 150px; } }

@media screen and (max-width: 700px) {
  .banner-informacion {
    width: 90%; } }
