.tipo .medio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.tipo_contenido {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.tipo_items {
  width: 20%;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  margin: 10px;
  height: 250px;
  position: relative;
  overflow: hidden; }
  .tipo_items img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .tipo_items::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, rgba(0, 0, 0, 0.6)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 75%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 75%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 75%);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .tipo_items:hover:before {
    top: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.tipo_boton {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  background: rgba(0, 0, 0, 0.1); }

.tipo_boton2 {
  position: relative;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid white;
  top: 20%;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.tipo_boton:hover .tipo_boton2 {
  top: 0;
  opacity: 1;
  margin-top: 20px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
