@import "lg_grid";
.peru {
    .medio {
        display: flex;
        flex-wrap: wrap;
    }
}
.subtitulo{
    flex-wrap: wrap;
    width: 100%;
    font-family: $fuente_titulo;
    color: $color-primario;
    font-weight: bolder;
    margin-bottom: 10px;
    letter-spacing: 10px;
}
.peru_items {
    width: 19%;
    height: 500px;
    margin-right: 5px;
    flex: auto;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    &::after {
        z-index: 50;
        content: "";
        position: absolute;
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
        top: 100%;
        left: -50%;
        background: linear-gradient(45deg, rgba(0, 94, 255, 0.5) 0%, rgba(209, 142, 242, 0.5) 73%, rgba(209, 142, 242, 0.5) 100%);
        transform: scale(0.1);
        transition: transform .8s;
    }
    &:hover:after {
        transform: scale(10);
    }
}

.contenido-paquete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    @include display;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;
    .titulo-paquete {
        font-family: $fuente_corrida;
        text-align: center;
        color: white;
        font-size: 35px;
        transform: translateX(-200%);
        transition: transform .5s;
        font-weight: lighter;
    }
    .boton-paquete {
        margin: 10px;
        border-radius: 20px;
        border: 1px solid white;
        background: rgba($color-primario, .4);
        padding: 10px 20px;
        color: white;
        font-family: $fuente_titulo;
        transform: translateX(200%);
        transition: transform .5s;
    }
    &:hover .titulo-paquete {
        transform: translateX(0%);
    }
    &:hover .boton-paquete {
        transform: translateX(0%);
    }
}


/*PRIMERA SECCION*/
.primera-seccion{
    margin-top: $margin;
    .medio{
        @include display;
    }
}
.promociones-contenedor-total{
    width: 70%;
    height: 500px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
     &:hover .icon-derecha{
        opacity: 1;
        transition: all .5s;   
    }
     &:hover .icon-izquierda{
        opacity: 1;
        transition: all .5s;   
    }
  /*  &::after{
        content: "Ofertas del día";
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
        font-family: $fuente_corrida;
        background: rgba(white,.6);
        font-size: 25px;
        box-shadow: 1px 5px 0px 0px #343434;
    }*/
}
.promociones-contenedor{
    width: 400%;
    display: flex;
}
.promociones-items{
    width: 25%;
    height: 100%;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.promocion-encima{
    position: absolute;
    top: 0;
    left: 0;
    @include display;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(black,.4);
    color: white;
    font-family: $fuente_titulo;
    z-index: 99;
    h2{
        margin: 10px;
        font-size: 30px;
    }
    p{
        span{
                    font-size: 22px;

        }
    }
   
}
.precio-dolar{
    margin-right: 10px;
}
.icon-izquierda,.icon-derecha{
    position: absolute;
    top: 45%;
    transform: translate(-50% -50%);
    z-index: 99;
    color: white;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.5;
    transition: all .5s;   
}
.icon-izquierda{
    left: 0;
}
.icon-derecha{
    right: 0;
}


.promociones-derecha {
    width: 30%;
    height: 500px;
}

.vendidos,.arma{
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}
.vendidos{
    margin-bottom: 5px;
}
/*fin de primera seccion*/
@media screen and (max-width:768px) {
    .peru_items {
        width: 30%;
        height: 350px;
        &:nth-child(5) {
            margin-top: 5px;
        }
        &:last-child {
            margin-top: 5px;
        }
    }
    .contenido-paquete {
        .titulo-paquete {
            font-size: 22px;
        }
        .boton-paquete{
            font-size: 12px;
        }
    }
    
}

@media screen and (max-width:500px) {
     .peru_items {
        width:100%;
         object-position: center;
         height: 150px;
         margin-top: 5px;
        }
    .subtitulo{
        text-align: center;
    }
}