@import "lg_grid";
.peru {
    .medio {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 300px);
        grid-gap: 5px;
    }
}

.peru_items {
    flex: auto;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &::after {
        z-index: 50;
        content: "";
        position: absolute;
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
        top: 100%;
        left: -50%;
        background: linear-gradient(45deg, rgba(0, 94, 255, 0.5) 0%, rgba(209, 142, 242, 0.5) 73%, rgba(209, 142, 242, 0.5) 100%);
        transform: scale(0.1);
        transition: transform .8s;
    }
    &:hover:after {
        transform: scale(10);
    }
    &:first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    &:nth-child(2) {
        grid-column: 3 / span 2;
        grid-row: 1 / span 1;
    }
    &:nth-child(3) {
        grid-column: 5 / span 2;
        grid-row: 1 / span 1;
    }
    &:nth-child(4) {
        grid-column: 7 / span 2;
        grid-row: 1 / span 1;
    }
    &:nth-child(5) {
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
    }
    &:nth-child(6) {
        grid-column: 5 / span 2;
        grid-row: 2 / span 1;
    }
    &:nth-child(7) {
        grid-column: 7 / span 2;
        grid-row: 2 / span 1;
    }
}

.contenido-paquete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    @include display;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;
    .titulo-paquete {
        font-family: $fuente_corrida;
        text-align: center;
        color: white;
        font-size: 35px;
        transform: translateX(-500%);
        transition: transform .5s;
        font-weight: lighter;
    }
    .boton-paquete {
        margin: 10px;
        border-radius: 20px;
        border: 1px solid white;
        background: rgba($color-primario, .4);
        padding: 10px 20px;
        color: white;
        font-family: $fuente_titulo;
        transform: translateX(500%);
        transition: transform .5s;
    }
    &:hover .titulo-paquete {
        transform: translateX(0%);
    }
    &:hover .boton-paquete {
        transform: translateX(0%);
    }
}


/*PRIMERA SECCION*/

.primera-seccion {
    margin-top: $margin;
    .medio {
        @include display;
    }
}

.promociones-contenedor-total {
    width: 70%;
    height: 500px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    &:hover .icon-derecha {
        opacity: 1;
        transition: all .5s;
    }
    &:hover .icon-izquierda {
        opacity: 1;
        transition: all .5s;
    }
}

.promociones-contenedor {
    width: 400%;
    display: flex;
}

.promociones-items {
    width: 25%;
    height: 100%;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.promocion-encima {
    position: absolute;
    top: 0;
    left: 0;
    @include display;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(black, .2);
    color: white;
    font-family: $fuente_titulo;
    z-index: 99;
    h2 {
        margin: 10px;
        font-size: 30px;
    }
    p {
        span {
            font-size: 22px;

        }
    }
    a {
        position: relative;
        display: block;
        margin-top: 10px;
        padding: 10px 20px;
        border: 1px solid white;
        color: white;
        transition: all .3s;

        &:hover {
            background: rgba(white, .2);
            color: black;
            transition: all .3s;
        }
    }

}

.precio-dolar {
    margin-right: 10px;
}

.icon-izquierda,
.icon-derecha {
    position: absolute;
    top: 45%;
    transform: translate(-50% -50%);
    z-index: 99;
    color: white;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.5;
    transition: all .5s;
}

.icon-izquierda {
    left: 0;
}

.icon-derecha {
    right: 0;
}

/*SLIDER DERECHO*/

.paquete-derecha {
    width: 30%;
    height: 500px;
    position: relative;
    flex: auto;
    overflow: hidden;
}

.paquete-derecha-contenedor {
    width: 400%;
    height: 100%;
    display: flex;
}

.paquete-items {
    width: 100%;
    height: 100%;
    flex: auto;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover .paquete-items-encima {
        bottom: 0;
        transition: all .3s;
    }
}

.paquete-items-encima {
    position: absolute;
    bottom: -120px;
    width: 100%;
    background: rgba($color-primario, .5);
    left: 0;
    @include display;
    flex-direction: column;
    transition: all .3s;
    h2 {
        text-align: center;
        padding: 10px;
        font-family: $fuente_corrida;
        color: white;
        border-bottom: 1px solid white;
        height: 55px;
    }
    p {
        padding: 10px;
        text-align: center;
        color: white;
        font-family: $fuente_titulo;
    }
    a {
        margin: 10px;
        padding: 10px 20px;
        border: 1px solid white;
        color: white;
        font-family: $fuente_titulo;
    }
}

/*fin de primera seccion*/

/*seccion de beneficios*/

.beneficios {
    .medio {
        @include display;
        flex-direction: row-reverse;
    }
    .beneficio_izquierda {
        width: 70%;
        flex: auto;
        @include display;
        align-items: flex-start;
        flex-wrap: wrap;
        min-height: 400px;
    }
    .beneficio_derecha {
        width: 30%;
        flex: auto;
        @include display;
        min-height: 400px;
        img {
            width: 250px;
        }
    }
}

.beneficio_items {
    width: 50%;
    padding: 10px;
    span {
        display: flex;
        flex-direction: column;
        i {
            margin-bottom: 5px;
            font-size: 40px;
            color: $color-primario;
        }
        h3 {
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid $color-primario;
            font-family: $fuente_corrida;
            font-size: 30px;
        }


    }
    p {
        font-family: $fuente_titulo;
        line-height: 20px;
        text-align: justify;
    }
}

/*fin seccion de beneficios*/

@media screen and (max-width:768px) {

    .contenido-paquete {
        .titulo-paquete {
            font-size: 22px;
        }
        .boton-paquete {
            font-size: 12px;
        }
    }
    .promociones-contenedor-total {
        height: 300px;
    }
    .paquete-derecha {
        width: 40%;
        height: 300px;
    }
    .peru.entero{
        .medio{
            grid-template-rows: repeat(2, 200px);
        }
    }
    .beneficio_derecha{
        display: none !important;
    }
    .peru{
        .medio{
            display: flex;
            flex-wrap: wrap;
            .peru_items{
                height: 300px;
                margin-bottom: 15px;
            } 
        }
    }
    .beneficio_izquierda{
        flex-direction: column;
        .beneficio_items{
            width: 100%;
        }
    }
}

@media screen and (max-width:500px) {
    .peru_items {
        width: 100%;
        object-position: center;
        height: 150px !important;
        margin-top: 5px;
    }
    .subtitulo {
        text-align: center;
    }
    
}

@media screen and (max-width:400px) {
    .primera-seccion.entero {
        .medio {
            flex-direction: column;
        }
    }
    .paquete-derecha,
    .promociones-contenedor-total {
        width: 100%;
        margin-bottom: 20px;
    }
}
