@import "lg_grid";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5{
    font-weight: normal;
}
li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

.entero {
    width: 100%;
    @include display;
}

.medio {
    width: 90%;
}
.titulo-contenedor{
    @include display;
    flex-direction: column;
    margin: 20px 0;
    .titulo{
        font-family: $fuente_titulo;
        width: 100%;
        text-align: center;
    }
    img{
        width: 150px;
    }
}

header {
    background: white;
    box-shadow: 0px 7px 5px -5px rgba(0, 0, 0, 0.75);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    nav {
        @include display;
        justify-content: space-between;
        img {
            width: 280px;
        }
    }
}

.menu {
    @include display;
    li {
        margin: 5px;
        font-family: $fuente_titulo;
        cursor: pointer;
        transition: all .3s;
        &:first-child {
            box-shadow: 0 1px 0 0 $color-primario;
        }
        a {
            @include display;
            flex-direction: column-reverse;
            position: relative;
            overflow: hidden;
            text-align: center;
            span {
                width: 100%;
                @include display;
                padding: 10px;
            }
            i {
                width: 100%;
                background: $color-primario;
                padding: 10px;
                @include display;
                position: absolute;
                top: -100%;
                color: white;
                transition: all .3s;
            }
        }
        &:hover {
            box-shadow: 0 1px 0 0 $color-primario;
            transition: all .3s;
            i {
                top: 3px;
                transition: all .3s;
            }
        }
    }
}

.colores {
    width: 100%;
    height: 5px;
    @include display;
    .colores-top {
        width: 16.6%;
        height: 100%;
        flex: auto;
        &:first-child {
            background: #824e49;
        }
        &:nth-child(2) {
            background: #ca8151;
        }
        &:nth-child(3) {
            background: #887e35;
        }
        &:nth-child(4) {
            background: #2c9e88;
        }
        &:nth-child(5) {
            background: #287890;
        }
        &:last-child {
            background: #8c4cd8;
        }

    }

}

.icon-menu {
    display: none;
}
.menu-aparecer{
    left: 0% !important;
    opacity: 0;
    transition: all .3s;
}

@media screen and (max-width:920px) {
    body {
        position: relative;
    }
    .menu {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background: rgba($color-primario, .9);
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 1;
        transition: all .3s;
        li {
            width: 100%;
            margin: 0;
            padding: 10px 0;
            &:first-child {
                box-shadow: 0 0 0 0 $color-primario;
            }
            &:hover {
                box-shadow: 0 0 0 0 $color-primario;
            }
            border-bottom: 1px solid white;
        }
        a {
            color: white;
            i{
                display: none !important;
            }
        }

    }
    .icon-menu {
        display: block;
        font-size: 40px;
        cursor: pointer;
    }
}

@media screen and (max-width:369px) {
    header{
        a{
            img{
            width: 180px;
        }
        }
    }
}