@import "lg_grid";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

.entero {
    width: 100%;
    @include display;
}

.medio {
    width: 90%;
}


.titulo {
    font-family: $fuente_titulo;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}

/*FIN DE ESTILOS BASICOS*/

header{
    background: $color-primario;
}

.contenido_top{
    display: flex;
    padding: 5px 0;
    height: 60px;
    i,a{
        margin-right: 10px;
        color: white;
    }
}
.top-header{
    @include display;
    color: white;
    font-family: $fuente_corrida;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgba(white,.3);
}
.one-part{
    flex:auto;
    justify-content: flex-start;
}
.two-part{
    flex:auto;
}
.three-part{
    flex: auto;
    justify-content: flex-end;
    a{
        font-size: 22px;
        margin:0 10px;
        border: 1px solid white;
        padding: 8px;
        border-radius: 50%;
        @include display;
    }
    
}


/*FIN DEL TOP*/

/*COMIENZO DEL MENU*/
/*contenido_menu
            a(href="")
                img(src="imagenes/logo-blanco.png")
            ul.menu#menu
            li
                a 
                    span INICIO
            li
                a 
                    span PAQUETES
            li
                a 
                    span PROMOCIONES
            li
                a   
                    span BENEFICIOS
            li
                a 
                    span RESERVA TU VIAJE*/

.contenido_menu{
    display: flex;
    padding: 10px 0;
    height: 100px;
}
.logo-menu{
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: auto;
        transition: all .3s;

    li{
        margin: 5px;
        font-family: $fuente_titulo;
        text-align: center;
        a{
            color: white;
            cursor: pointer;
            padding: 10px 20px;
            overflow: hidden;
            position: relative;
            &::after{
                background: white;
                content: "";
                width: 100%;
                height: 2px;
                position: absolute;
                left: -100%;
                bottom: 0;
                transition: all .3s;
            }
            &:hover:after{
                left: 0;
                transition: all .3s;
            }
        }
    }
}
.icon-menu{
    display: none;
}
.menu-aparecer{
    left: 0 !important;
    transition: all .3s;
}
@media screen and (max-width:895px){
    .menu{
        position: absolute;
        background: rgba(#29649f,.8);
        flex-direction: column;
        top: 160px;
        z-index: 6666;
        width: 100%;
        left: -100%;
        li{
            width: 100%;
            border-bottom: 1px solid white;
            padding: 10px 0;
            a{
                &::after{
                    display: none;
                }
            }
        }
    }
    .icon-menu{
        display: block;
        position: absolute;
        color: white;
        font-size: 40px;
        right: 30px;
        top: 85px;
        cursor: pointer;
}
   
     .one-part, .two-part{
         display: none;
    }
    .three-part{
        justify-content: center;
    }
}


@media screen and (max-width:400px){
    .logo-menu{
        width: 180px;
    }
    
    .contenido_top{
        flex-direction: column;
        span{
            font-size: 12px;
        }
    }
    .one-part{
        justify-content: flex-start;
    }
}