* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

.entero {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

body {
  overflow-Y: hidden; }

.medio {
  width: 90%; }

a {
  display: block;
  text-decoration: none; }

.titulo {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-family: "Francois One", sans-serif;
  font-size: 40px; }

.especial {
  background: rgba(47, 199, 235, 0.9);
  font-family: "Francois One", sans-serif;
  color: white;
  position: absolute;
  z-index: 5;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0;
  -webkit-box-shadow: 2px 0 2px black;
  box-shadow: 2px 0 2px black;
  font-size: 14px;
  top: 0;
  left: 0; }

.primera-seccion .medio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .primera-seccion .medio p {
    font-family: "Raleway", sans-serif; }

.video-js {
  width: 100%;
  height: 500px; }

.contenedor-primero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .contenedor-primero .seccion {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }

.seccion {
  margin: 20px; }
  .seccion img {
    width: 70px; }
  .seccion h2 {
    font-size: 20px;
    margin: 5px;
    font-family: "Francois One", sans-serif; }
  .seccion p {
    padding: 5px; }

.segunda-seccion {
  margin-top: 80PX;
  background-image: url(../imagenes/abajo.jpg);
  background-size: cover;
  background-attachment: fixed;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 50px 0;
  position: relative; }
  .segunda-seccion::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(22, 72, 33, 0.5);
    z-index: 5; }
  .segunda-seccion h2 {
    position: relative;
    color: white;
    z-index: 6; }

.ofertas {
  margin-top: 80PX; }
  .ofertas .medio {
    background: white;
    -webkit-box-shadow: 0 5px 11px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 11px -5px rgba(0, 0, 0, 0.75);
    border: 1px solid #e8e8e8;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important; }

.ofertas-items {
  margin: 10px;
  overflow: hidden;
  width: 20%;
  background: #fafafa;
  border: 1px solid #8d8d8d;
  min-height: 450px;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  position: relative;
  margin-bottom: 30px; }

.oferta-top {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative; }
  .oferta-top img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.oferta-bottom {
  width: 100%;
  min-height: 250px; }
  .oferta-bottom .nombre-paquete {
    font-family: "Francois One", sans-serif;
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    height: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.contenedor_paquete {
  margin-top: 150px; }

.boton-packs {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .boton-packs a {
    display: block;
    width: 80%;
    text-align: center;
    padding: 10px 0;
    margin: 10px;
    background: #2837aa;
    color: white;
    -webkit-box-shadow: 0px 0px 0px 1px #ddd;
    box-shadow: 0px 0px 0px 1px #ddd;
    font-family: "Francois One", sans-serif;
    border: 3px solid white;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    font-size: 20px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }
    .boton-packs a:hover {
      width: 100%;
      background: #171c41;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s; }

.visitaras-contenedor {
  width: 100%; }
  .visitaras-contenedor .visitaras-texto {
    padding: 5px;
    font-size: 16px;
    font-weight: normal;
    font-family: "Raleway", sans-serif; }
  .visitaras-contenedor .visitaras-contenido h3 {
    margin: 10px;
    font-weight: normal;
    border-top: 1px solid #ddd;
    font-size: 16px;
    font-family: "Raleway", sans-serif; }

.oferta-boton {
  margin: 5px;
  padding: 10px 5px;
  text-align: center;
  background: #961B0C;
  color: white;
  font-family: "Francois One", sans-serif; }

.oferta-precio {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  color: white;
  font-family: "Francois One", sans-serif; }

.esep {
  margin-top: 20px;
  margin-bottom: 20px; }

.boletin {
  background-image: url(../imagenes/tercero.jpg);
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 50px 0;
  position: relative;
  background-attachment: fixed;
  height: 180px;
  margin-top: 20px;
  margin-bottom: 20px; }
  .boletin::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(61, 136, 145, 0.4);
    z-index: 5; }
  .boletin h2 {
    position: relative;
    color: white;
    z-index: 6;
    font-size: 32px; }
  .boletin form,
  .boletin p {
    position: relative;
    z-index: 6;
    color: white;
    font-family: "Raleway", sans-serif; }
  .boletin p {
    text-align: center;
    margin: 5px;
    font-size: 20px; }
  .boletin form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5px; }
    .boletin form .text {
      padding: 10px;
      width: 40%; }
    .boletin form .boton {
      margin: 5px;
      padding: 10px 25px;
      background: #961B0C;
      color: white;
      cursor: pointer;
      font-family: "Francois One", sans-serif; }

.logo-footer {
  height: 140px;
  width: 300px;
  font-family: "Francois One", sans-serif; }

.contador {
  background-image: url(../imagenes/contador.jpg);
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 50px 0;
  position: relative;
  background-attachment: fixed;
  height: 180px;
  margin: 20px 0;
  overflow: hidden;
  position: relative; }
  .contador::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2); }
  .contador .medio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    z-index: 55;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contador .cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
  .contador .titulo {
    color: white; }

.contador-contenido {
  margin: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white; }
  .contador-contenido p {
    font-size: 50px;
    color: white; }
  .contador-contenido h3 {
    font-size: 25px; }

.galeria-contenido {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .galeria-contenido a {
    width: 24%;
    height: 300px;
    border: 2px solid #ddd;
    margin: 2px; }
    .galeria-contenido a img {
      width: 100%;
      height: 100%; }

/*video*/
.video {
  margin-top: 80PX;
  margin-bottom: 80PX; }
  .video .medio {
    background: white;
    -webkit-box-shadow: 0 5px 11px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 11px -5px rgba(0, 0, 0, 0.75);
    border: 1px solid #e8e8e8;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden; }
    .video .medio .video-contenido {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .video .medio .video-items {
      width: 20%;
      margin: 10px;
      height: 200px;
      -webkit-box-flex: 1;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto; }
    .video .medio a {
      display: block;
      width: 100%;
      padding: 10px;
      text-align: center;
      font-size: 20px;
      color: black;
      font-family: "Francois One", sans-serif;
      margin-top: 10px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      color: red;
      font-weight: bolder; }
      .video .medio a img {
        width: 30px;
        margin: 5px; }
    .video .medio span {
      font-size: 14px;
      margin-top: 8px; }

.owl-stage-outer {
  overflow: visible !important; }

.owl-item {
  position: relative;
  cursor: pointer; }
  .owl-item::after {
    content: "Video";
    position: absolute;
    padding: 10px;
    background: rgba(6, 179, 255, 0.7);
    top: -40px;
    left: 20%;
    color: white;
    font-family: "Francois One", sans-serif;
    text-align: center;
    /*efecto de desvanecimiento*/
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 10px 50px; }
  .owl-item:hover:after {
    opacity: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

/*end videos*/
.owl-stage-outer {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.aliados-contenido {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .aliados-contenido img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .aliados-contenido img:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }

.titulo-aliado {
  margin-bottom: 50px; }

.confianza {
  background: white !important; }
  .confianza p {
    color: black !important; }

footer {
  background: #262626; }
  footer .medio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Francois One", sans-serif; }
    footer .medio .datos-contacto {
      color: white;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      footer .medio .datos-contacto span {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 5px;
        padding: 5px;
        font-family: sans-serif;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
        footer .medio .datos-contacto span:last-child {
          border-bottom: 0 solid white; }
        footer .medio .datos-contacto span h3 {
          font-family: sans-serif;
          font-size: 14px; }
        footer .medio .datos-contacto span i {
          margin-right: 5px; }
    footer .medio .footer-medio {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
      footer .medio .footer-medio .parrafo {
        font-size: 16px;
        color: white; }
      footer .medio .footer-medio span {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        footer .medio .footer-medio span img {
          margin: 10px;
          width: 40px;
          margin-top: 10px; }

.ultimo {
  background: #961B0C; }
  .ultimo .medio {
    padding: 10px;
    color: white;
    font-size: 18px;
    font-family: "Raleway", sans-serif; }

@media screen and (max-width: 1000px) {
  .ofertas-items {
    width: 45%; } }

@media screen and (max-width: 768px) {
  .video-contenido {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .video-items {
    width: 45% !important; }
  .contenedor-primero {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .contenedor-primero .seccion {
      width: 30%;
      -webkit-box-flex: 1;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto; }
  .segunda-seccion h2 {
    font-size: 28px; }
  .ofertas .titulo {
    font-size: 25px; }
  .ofertas-items {
    width: 45%;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto; }
  .contador {
    height: auto; }
    .contador .medio .cont {
      width: 50%; }
    .contador .medio .contador-contenido {
      -webkit-box-flex: 1;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto; }
  .boletin {
    height: auto; }
    .boletin .medio .titulo {
      font-size: 30px; }
    .boletin .medio form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .boletin .medio form input {
        width: 100%;
        margin-bottom: 10px; }
  .aliados .aliados-contenido {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .aliados .aliados-contenido img {
      width: 100px;
      -webkit-box-flex: 0;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none; }
  footer .medio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .galeria-contenido a {
    width: 32%;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto; } }

@media screen and (max-width: 450px) {
  .contenedor-primero {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .contenedor-primero .seccion {
      width: 100%;
      -webkit-box-flex: 1;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto; }
  .ofertas-items {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto; }
  .contador {
    height: auto; }
    .contador .medio .cont {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
  .aliados .aliados-contenido {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .aliados .aliados-contenido img {
      width: 150px;
      -webkit-box-flex: 1;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto; }
  footer .medio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .medio .logo-footer {
      width: 200px !important;
      height: auto; }
    footer .medio .datos-contacto {
      display: none !important; }
  .ultimo .medio {
    font-size: 12px;
    text-align: center;
    font-family: "Raleway", sans-serif; }
  .ultimo p {
    font-family: "Raleway", sans-serif; }
  .galeria-contenido a {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto; }
  .titulo {
    font-size: 20px; } }
