doctype html
html(lang="es") 
    head
      title Lineas Tour Operador - Agencia Mayorista de  Viajes
      meta(charset="UTF-8")
      include ../pug/metas/metas-06.pug
      link(rel="stylesheet",href="../css/estilos2.css") 
      link(rel="stylesheet",href="../css/menu.css")
      link(rel="stylesheet",href="../css/styles.css")
      link(rel="stylesheet",href="../css/animate.css")
      link(rel="stylesheet",href="../halloween/css/estilos.css")
      link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Merienda")
      link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display")
      meta(name='theme-color', content='#961B0C')
      meta(name='msapplication-navbutton-color', content='#961B0C')
      meta(name='apple-mobile-web-app-capable', content='yes')
      meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
      script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    include ../pug/menu.pug
    body.contenido
        .banner-halloween
            img.imagen-banner(src="halloween/imagenes/banner.jpg")
            .texto-encima
                h3 Orlando's Horror <br> Night
                img.imagen-general(src="halloween/imagenes/fantasma.png")
        .info.entero
            .medio
                .info-items
                    img(src="halloween/imagenes/imagen-1.jpg")
                    h3 Seaworld Halloween
                .info-items
                    img(src="halloween/imagenes/imagen-2.jpg")
                    h3 Busch gardens Halloween
                .info-items
                    img(src="halloween/imagenes/imagen-3.jpg")
                    h3  Disney Halloween
                .info-items
                    img(src="halloween/imagenes/imagen-4.jpg")
                    h3 Universal Halloween
                .info-items
                    img(src="halloween/imagenes/imagen-5.jpg")
                    h3 Aquatica Halloween
        .pasajes.entero
            .medio
                img(src="halloween/imagenes/fantasma-2.png")
                .incluye
                    h2 Incluye
                    p Traslado aeropuerto/Resort/ aeropuerto.  1 Noche Espeluznante en Universal Halloween Horror Nights. <br> 1 Día Seaworld Halloween  <br> 1 Día cualquier parque a escoger entre: Magic Kingdom, Hollywood studios, Animals kingdom, Universal Studio, Islas de la aventura <br>1 Día Busch Garden <br> 1 Día Aquatica <br> En tu día gratis un Desayuno Buffet de bienvenida y tour de Presentación de el lujoso Resort. <br> Tour de compras a escoger entre Vineland Premium Outlet o International Premium Outlet <br> Tarjeta de asistencia. Regalos adicionales: cuponeras de descuento para los Outlets/ cupones de descuento en más de 20 restaurantes, bares y otras tiendas. 
        .tarifa.entero
            .medio 
                .contenidos
                    .contenidos-items
                        h3  USD 699
                        h3 S/ 2446.00
                        h3 Mini-Departamento <br> para 2 personas
                    .contenidos-items
                        h3  USD 637
                        h3 S/ 2229.00
                        h3 Mini-Departamento <br> para 3 personas
                    .contenidos-items
                        h3  USD 559
                        h3 S/ 2096.00
                        h3 Mini-Departamento <br> para 4 personas
                img(src="halloween/imagenes/logo.png")
        .ultimo-halloween.entero
            .medio
                img(src="halloween/imagenes/pallaso.png")
                .informacion
                    h3 4 Días + 3 Noches + 1 Noche Gratis
                    h3 Total
                    h3 5 Días + 4 Noches
        script(src="js/efectos.js") 
    include ../pug/footer 
    .ultimo.entero.wow.fadeInUp 
        p.medio  Lineas Tour Operador 2017 - Todos Los Derechos Reservados