.footer.entero
    footer.medio
        img(src="imagenes/logo-blanco.png")
        .info
            span Av. Antunez de Mayolo 897 - Los Olivos
            span Lima - Perú
            span Telfs.: 51-1485-7943 /99-752-1959
            span www.lineasperutravel.com
            span reservas@lineasperutravel.com