.formulario.entero
    .medio
        p.titulo Contactanos
        form(action="enviar.php")
            input(type="text", placeholder="Nombre")
            input(type="text", placeholder="Telefono")
            input(type="text", placeholder="Correo")
            input(type="text", placeholder="Ciudad de origen")
            input(type="text", placeholder="Ciudad de destino")
            input(type="date", placeholder="Fecha de entrada")
            input(type="date", placeholder="Fecha de salida")
            textarea(placeholder="Mensaje")
            input(type="submit" value="Enviar")
        .redes_contacto
            p
                i.icon-telefono
                span +(51) 1485-7943 / 99-752-1959
            p
                i.icon-email
                span reservas@lineasperutravel.com
            p
                i.icon-inicio
                span Av. Antunez de Mayolo 897 - Los Olivos Lima - Perú
            span.redes_formulario
                a.icon-facebook(href="#")
                a.icon-whatsapp(href="#")
                