html(lang="es")
    head
        meta(charset="utf-8")
        title Lineas Perú Travel
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        include fuentes.pug
        script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    include menu.pug
    body
        script(src="js/menu.js")
    footer