html(lang="es")
    head
        meta(charset="utf-8")
        title Lineas Perú Travel
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        include fuentes.pug
    include menu.pug
    body
    footer