html(lang="es")
    head
        meta(charset="utf-8")
        title Lineas Perú Travel
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        include fuentes.pug
        link(rel="stylesheet", href="css/slider.css") 
        script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    include menu.pug
    body
        .banner
            img(src="imagenes/slider/banner1.jpg")
            .banner-informacion
                h1 Viajes Turisticos en Perú
                p tándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ing
                a(href="#") Ver Viajes
        include primera-seccion.pug
        span.titulo-contenedor
            h2.titulo COMIENZA TU AVENTURA DE TURISMO
            img(src="imagenes/orla-titulos.png")
        include seccion_peru.pug
        script(src="js/menu.js")
    footer