header.entero
    .medio
        .contenido_top
            span.one-part.top-header
                i.icon-telefono 
                span.telefono  51-1485-7943 
            span.two-part.top-header
                i.icon-inicio
                span.direccion Av. Antunez de Mayolo 897 - Los Olivos
            span.three-part.top-header
                a.icon-facebook(href="#")
                a.icon-whatsapp(href="#")
        .contenido_menu
            a(href="")
                img.logo-menu(src="imagenes/logo-blanco.png")
            i.icon-menu#icon-menu
            ul.menu#menu
                li 
                    a(href="#") 
                        span INICIO
                li
                    a(href="#") 
                        span PAQUETES
                li
                    a(href="#") 
                        span PROMOCIONES
                li
                    a(href="#") 
                        span RESERVA TU VIAJE