header.entero
    nav.medio
        a
            img(src="imagenes/logo-color.png")
        i.icon-menu#icon-menu
        ul.menu#menu
            li
                a 
                    span INICIO
            li
                a 
                    span PAQUETES
            li
                a 
                    span PROMOCIONES
            li
                a   
                    span BENEFICIOS
            li
                a 
                    span RESERVA TU VIAJE 