header.entero
    .colores
        .colores-top
        .colores-top
        .colores-top
        .colores-top
        .colores-top
        .colores-top
    nav.medio
        img(src="imagenes/logo-color.png")
        ul.menu
            li
                a 
                    span INICIO
                    i.icon-inicio
            li
                a 
                    span PAQUETES
                    i.icon-paquetes
            li
                a 
                    span PROMOCIONES
                    i.icon-promociones
            li
                a 
                    span BENEFICIOS
                    i.icon-beneficias
            li
                a 
                    span RESERVA TU VIAJE 
                    i.icon-contacto