.vuelo.entero
    .medio
        p.titulo Viajes Internacional & Nacional
        .vuelo_contenido
            .vuelo_internacional
                img(src="imagenes/tipos-de-viajes/internacional.jpg")
                span
                    i.icon-airplane
                    p Viajes Internacionales
            .vuelo_nacional
                img(src="imagenes/tipos-de-viajes/nacional.jpg")
                span
                    i.icon-airplane
                    p Viajes Nacionales