.paquetes.entero
    .medio
        p.titulo Paquetes Armados
        .paquetes_contenido
            a.paquetes_items(href="")
                span.imagen_paquetes
                    img(src="imagenes/tipos-de-viajes/aventura.jpeg")
                h2 Punta Sal
                span.precio_paquetes
                    p.precio_desde Desde:
                    p.precio_soles S/500.00
                    p.precio_dolar $100.00
            a.paquetes_items(href="")
                span.imagen_paquetes
                    img(src="imagenes/tipos-de-viajes/internacional.jpg")
                h2 Punta Sal
                span.precio_paquetes
                    p.precio_desde Desde:
                    p.precio_soles S/500.00
                    p.precio_dolar $100.00
            a.paquetes_items(href="")
                span.imagen_paquetes
                    img(src="imagenes/tipos-de-viajes/luna-de-miel.jpg")
                h2 Punta Sal
                span.precio_paquetes
                    p.precio_desde Desde:
                    p.precio_soles S/500.00
                    p.precio_dolar $100.00
            a.paquetes_items(href="")
                span.imagen_paquetes
                    img(src="imagenes/tipos-de-viajes/vacaciones.jpg")
                h2 Punta Sal
                span.precio_paquetes
                    p.precio_desde Desde:
                    p.precio_soles S/500.00
                    p.precio_dolar $100.00
            a.paquetes_items(href="")
                span.imagen_paquetes
                    img(src="imagenes/tipos-de-viajes/aventura.jpeg")
                h2 Punta Sal
                span.precio_paquetes
                    p.precio_desde Desde:
                    p.precio_soles S/500.00
                    p.precio_dolar $100.00
            a.paquetes_items(href="")
                span.imagen_paquetes
                    img(src="imagenes/tipos-de-viajes/internacional.jpg")
                h2 Punta Sal
                span.precio_paquetes
                    p.precio_desde Desde:
                    p.precio_soles S/500.00
                    p.precio_dolar $100.00
            a.paquetes_items(href="")
                span.imagen_paquetes
                    img(src="imagenes/tipos-de-viajes/luna-de-miel.jpg")
                h2 Punta Sal
                span.precio_paquetes
                    p.precio_desde Desde:
                    p.precio_soles S/500.00
                    p.precio_dolar $100.00
            a.paquetes_items(href="")
                span.imagen_paquetes
                    img(src="imagenes/tipos-de-viajes/vacaciones.jpg")
                h2 Punta Sal
                span.precio_paquetes
                    p.precio_desde Desde:
                    p.precio_soles S/500.00
                    p.precio_dolar $100.00