.primera-seccion.entero
    .medio
        .promociones-contenedor-total
            .promociones-contenedor#slider_ofertas 
                .promociones-items
                    img(src="imagenes/peru/ica.jpg")
                    .promocion-encima
                        h2 Viajes a Cuzco 4D/3N
                        p  
                            span.precio-dolar $500.00  
                            span.precio-soles S/ 1500.00
                        a(href="") Ver Paquete 
                    
                .promociones-items
                    img(src="imagenes/peru/cuzco.jpg")
                    .promocion-encima
                        h2 Viajes a Cuzco 4D/3N
                        p 
                            span.precio-dolar $500.00
                            span.precio-soles S/ 1500.00 
                        a(href="") Ver Paquete
                        
                .promociones-items
                    img(src="imagenes/peru/tarapoto.jpg")
                    .promocion-encima
                        h2 Viajes a Cuzco 4D/3N
                        p 
                            span.precio-dolar $500.00
                            span.precio-soles S/ 1500.00 
                        a(href="") Ver Paquete
                
                .promociones-items
                    img(src="imagenes/peru/lambayeque.jpg")
                    .promocion-encima
                        h2 Viajes a Cuzco 4D/3N
                        p 
                            span.precio-dolar $500.00
                            span.precio-soles S/ 1500.00 
                        a(href="") Ver Paquete
                        
            i.icon-izquierda#btn-prev
            i.icon-derecha#btn-next
            
        .paquete-derecha
            .paquete-derecha-contenedor#slider_paquete
                .paquete-items
                    img(src="imagenes/peru/cuzco.jpg")
                    span.paquete-items-encima
                        h2 Viajes corporativos
                        p archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuan
                        a(href="") Ver paquete
                .paquete-items
                    img(src="imagenes/peru/tarapoto.jpg")
                    span.paquete-items-encima
                        h2 Paquetes turisticos
                        p archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuan
                        a(href="") Ver paquete
                .paquete-items
                    img(src="imagenes/peru/cuzco.jpg")
                    span.paquete-items-encima
                        h2 Paquetes escolares
                        p archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuan
                        a(href="") Ver paquete
                .paquete-items
                    img(src="imagenes/peru/cuzco.jpg")
                    span.paquete-items-encima
                        h2 Promociones de viajes
                        p archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuan
                        a(href="") Ver paquete
            i.icon-izquierda#btn-prev2
            i.icon-derecha#btn-next2