.tipo.entero
    .medio
        p.titulo ¿Qué tipo de viaje buscas?
        .tipo_contenido
            .tipo_items
                img(src="imagenes/tipos-de-viajes/vacaciones.jpg")
                a.tipo_boton(href="#")
                    p.tipo_texto Vacaciones
                    span.tipo_boton2 Ver Mas
            
            .tipo_items
                img(src="imagenes/tipos-de-viajes/fulldays.jpg")
                a.tipo_boton(href="#")
                    p.tipo_texto Fulldays
                    span.tipo_boton2 Ver Mas
            
            .tipo_items
                img(src="imagenes/tipos-de-viajes/ofertas.jpeg")
                a.tipo_boton(href="#")
                    p.tipo_texto Ofertas
                    span.tipo_boton2 Ver Mas
                    
            .tipo_items
                img(src="imagenes/tipos-de-viajes/vuelos.jpeg")
                a.tipo_boton(href="#")
                    p.tipo_texto Vuelos
                    span.tipo_boton2 Ver Mas        