// 
.tipo.entero
    .medio
        p.titulo ¿Qué tipo de viaje buscas?
        .tipo_contenido
            .tipo_items
                img(src="imagenes/tipos-de-viajes/aventura.jpeg")
                a.tipo_boton(href="#")
                    p.tipo_texto Aventura
                    span.tipo_boton2 Ver Mas
            
            .tipo_items
                img(src="imagenes/tipos-de-viajes/luna-de-miel.jpg")
                a.tipo_boton(href="#")
                    p.tipo_texto Luna de miel
                    span.tipo_boton2 Ver Mas
            
            .tipo_items
                img(src="imagenes/tipos-de-viajes/playas.jpg")
                a.tipo_boton(href="#")
                    p.tipo_texto Playas
                    span.tipo_boton2 Ver Mas
                    
            .tipo_items
                img(src="imagenes/tipos-de-viajes/promociones.jpg")
                a.tipo_boton(href="#")
                    p.tipo_texto Promociones
                    span.tipo_boton2 Ver Mas        