.primera-seccion.entero
    .medio
        .promociones-contenedor-total
            .promociones-contenedor#slider_ofertas 
                .promociones-items
                    img(src="imagenes/peru/ica.jpg")
                    .promocion-encima
                        h2 Viajes a Cuzco 4D/3N
                        p 
                            span.precio-dolar $500.00
                                span.precio-soles S/ 1500.00
                    
                .promociones-items
                    img(src="imagenes/peru/cuzco.jpg")
                    .promocion-encima
                        h2 Viajes a Cuzco 4D/3N
                        p 
                            span.precio-dolar $500.00
                            span.precio-soles S/ 1500.00 
                .promociones-items
                    img(src="imagenes/peru/tarapoto.jpg")
                    .promocion-encima
                        h2 Viajes a Cuzco 4D/3N
                        p 
                            span.precio-dolar $500.00
                            span.precio-soles S/ 1500.00 
                
                .promociones-items
                    img(src="imagenes/peru/lambayeque.jpg")
                    .promocion-encima
                        h2 Viajes a Cuzco 4D/3N
                        p 
                            span.precio-dolar $500.00
                            span.precio-soles S/ 1500.00 
            i.icon-izquierda#btn-prev
            i.icon-derecha#btn-next
        .promociones-derecha
            .vendidos
                img(src="imagenes/derecha-slider/1.jpeg")
            .arma
                img(src="imagenes/derecha-slider/2.jpeg")