.peru.entero
    .medio
        h2.subtitulo Viajes en Perú
        .peru_items
            img(src="imagenes/peru/ica.jpg")
            .contenido-paquete
                h2.titulo-paquete Viajes a  Ica
                a.boton-paquete(href="") Más informacion
        
        .peru_items
            img(src="imagenes/peru/arequipa.jpg")
            .contenido-paquete
                h2.titulo-paquete Viajes a  Arequipa
                a.boton-paquete(href="") Más informacion
        
        .peru_items
            img(src="imagenes/peru/cuzco.jpg")
            .contenido-paquete
                h2.titulo-paquete Viajes a  Cuzco
                a.boton-paquete(href="") Más informacion
        
        .peru_items
            img(src="imagenes/peru/lambayeque.jpg")
            .contenido-paquete
                h2.titulo-paquete Viajes a  Lambayeque
                a.boton-paquete(href="") Más informacion
        
        .peru_items
            img(src="imagenes/peru/tarapoto.jpg")
            .contenido-paquete
                h2.titulo-paquete Viajes a  Tarapoto
                a.boton-paquete(href="") Más informacion