.beneficios.entero
    .medio
        .beneficio_izquierda
            .beneficio_items
                span
                    i.icon-seguros
                    h3 Seguros de viajes
                p  archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de te
            .beneficio_items
                span
                    i.icon-precios
                    h3 Precios Bajos
                p  archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de te
            .beneficio_items
                span
                    i.icon-promociones-1
                    h3 Promociones 
                p  archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un im
            .beneficio_items
                span
                    i.icon-convenios
                    h3 Convenios
                p  archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500
        .beneficio_derecha
            img(src="imagenes/viajero.png")