.boletin.entero
                .medio
                    h2.titulo Recibe Nuestras Mejores Ofertas
                    p Dejanos tu correo y seras uno de los primeros <br> en enterarte de nuestras ofertas
                    form(method='POST' action='enviar-boletin.php')
                        input.text(type='text',name="correo",placeholder="E-mail")
                        input.boton(type='submit' value="Enviar")