footer.entero
    .medio
        img(src="imagenes/logo-blanco.png")
        .datos-contacto
            span
                i.icon-direccion  
                h3 Calle Gorriones 151 - San Isidro
            span
                i.icon-telefono 
                h3 +00511 - 4800835 - 51997521959
            span    
                i.icon-correo 
                h3 informes@lineastouroperador.com
            span
                i.icon-world  
                h3 www.lineastouroperador.com  