doctype html
html(lang="es")
    head
      title Lineas Tour Operador - Agencia Mayorista de  Viajes
      meta(charset="UTF-8")
      include metas/metas-03.pug 
      link(rel="stylesheet",href="css/preloader.css")
      link(rel="stylesheet",href="css/estilos.css") 
      link(rel="stylesheet",href="css/menu.css")
      link(rel="stylesheet",href="css/styles.css")
      link(rel="stylesheet",href="css/animate.css")
      link(rel="stylesheet",href="css/galeria.css")
      link(rel="stylesheet",href="css/lightbox.css")
      link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Ceviche+One|Fredericka+the+Great")
      link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Rochester")
      meta(name='theme-color', content='#961B0C')
      meta(name='msapplication-navbutton-color', content='#961B0C')
      meta(name='apple-mobile-web-app-capable', content='yes')
      meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
      script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    include menu.pug
    body.contenido
        h2.titulo Tendrás Un Viaje De En Sueño
        .entero
            .galeria.medio
                a.galeria-item(href="imagenes/galeria/1.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/1.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/2.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/2.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/3.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/3.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/4.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/4.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/5.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/5.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/6.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/6.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/7.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/7.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/8.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/8.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/9.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/9.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/10.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/10.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/11.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/11.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/12.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/12.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/13.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/13.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/14.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/14.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/15.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/15.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
                a.galeria-item(href="imagenes/galeria/16.jpg",data-lightbox="roadtrip")
                    img(src="imagenes/galeria/16.jpg")
                    .galeria-hijo
                    img.agrandar(src="imagenes/galeria/icono.png")
        include preloader.pug
            script(src="js/efectos.js") 
            script(src="js/wow.min.js") 
            script(src="js/lightbox.js") 
            script new WOW().init();
    include footer 
    .ultimo.entero.wow.fadeInUp 
        p.medio  Lineas Tour Operador 2017 - Todos Los Derechos Reservados 