doctype html
html(lang="es")
    head
      title Lineas Tour Operador - Agencia Mayorista de  Viajes
      meta(charset="UTF-8")
      include metas/metas-index.pug
      link(rel="stylesheet",href="css/estilos.css")
      link(rel="stylesheet",href="css/menu.css")
      link(rel="stylesheet",href="css/slider.css")
      link(rel="stylesheet",href="css/styles.css")
      link(rel="stylesheet",href="css/animate.css")
      link(rel="stylesheet",href="css/preloader.css")
      link(rel="stylesheet",href="css/carrusel.css")
      link(rel="stylesheet",href="css/carrusel2.css")
      link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Rochester")
      meta(name='theme-color', content='#961B0C')
      meta(name='msapplication-navbutton-color', content='#961B0C')
      meta(name='apple-mobile-web-app-capable', content='yes')
      meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
      script(src="https://code.jquery.com/jquery-1.11.3.min.js")
      link(rel='icon', href='favicon.ico', type='image/x-icon')
      link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    include menu.pug
    include slider.pug
    body.contenido
        include preloader.pug
        .primera-seccion.entero
            .medio
                h2.titulo ¿Por qué somos los mejores?
                .contenedor-primero
                    .seccion.wow.fadeInUp(data-wow-delay=".2s")
                        img(src="imagenes/primer/primer.png")
                        h3  Viajes De En Sueños
                        p Obtén el viaje que siempre has soñado con nosotros
                    .seccion.wow.fadeInUp(data-wow-delay=".6s")
                        img(src="imagenes/primer/segundo.png")
                        h3  Reserva En Línea
                        p Contamos con una plataforma para que reserves los viajes de tus pasajeros desde la comodidad de tu smartphone
                    .seccion.wow.fadeInUp(data-wow-delay="1s")
                        img(src="imagenes/primer/tercero.png")
                        h3  Descubre
                        p Descubre lugares fenomenales que te depara el destino
                    .seccion.wow.fadeInUp(data-wow-delay="1.4s")
                        img(src="imagenes/primer/cuarto.png")
                        h3  Chat En Línea
                        p Chatea con nosotros ahora mismo, estamos en linea para responder cualquier duda.
                        
        .segunda-seccion.entero
                .medio
                    h2.titulo.wow.fadeInUp Gratis 1 noche en cualquiera de nuestros paquetes a orlando 
        .ofertas.entero
            .medio
                h2.titulo.wow.zoomIn Nuestros Programas de Introducción con 1 Noche Gratis
                
                .ofertas-items.wow.fadeInUp(data-wow-delay='.1s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/parques-extremos-acuaticos.jpg")
                        .oferta-capa
                            h3 Parques Extremos & Acuaticos
                            h3 3 Días / 3 Noches
                            a.oferta-informacion(href="parques-extremos-acuaticos.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 297
                        a.reserva(href="parques-extremos-acuaticos.html") Reservar
                        
                        
                        
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.3s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner2.jpg")
                        .oferta-capa
                            h3 Re Descubre Orlando Mucho Mas Que Solo Disney
                            h3 4 Días / 4 Noches 
                            a.oferta-informacion(href="re-descubre-orlando-mucho-mas-que-solo-disney-2.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 315
                        a.reserva(href="re-descubre-orlando-mucho-mas-que-solo-disney-2.html") Reservar
                        
                
                        
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.5s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner3.jpg")
                        .oferta-capa
                            h3 Mágicos Estudios
                            h3 3 Días / 3 Noche 
                            a.oferta-informacion(href="magicos-studios.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 430
                        a.reserva(href="magicos-studios.html") Reservar
                        
                        
                        
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.5s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/paquete4.jpg")
                        .oferta-capa
                            h3 Re Descubre Orlando - Mucho Mas Que Solo Disney 
                            h3 4 Días / 4 Noches
                            a.oferta-informacion(href="re-descubre-orlando-mucho-mas-que-solo-disney-1.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 434
                        a.reserva(href="re-descubre-orlando-mucho-mas-que-solo-disney-1.html") Reservar
                
                
                .ofertas-items.wow.fadeInUp(data-wow-delay='.3s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner6.jpg")
                        .oferta-capa
                            h3 Diversión Mágica Extrema
                            h3 5 Días / 5 Noches
                            a.oferta-informacion(href="magica-extrema.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 513
                        a.reserva(href="magica-extrema.html") Reservar
                        
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.7s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner8.jpg")
                        .oferta-capa
                            h3 Mágico Espacial Extremo
                            h3 6 Días / 5 Noches
                            a.oferta-informacion(href="magico-espacial-extremo.html")  MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 595
                        a.reserva(href="magico-espacial-extremo.html")  Reservar
                        
                      
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.5s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner7.jpg")
                        .oferta-capa
                            h3 Unimagic Extreme
                            h3 6 Días / 5 Noches 
                            a.oferta-informacion(href="unimagic.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 785
                        a.reserva(href="unimagic.html") Reservar
                        
                        
                
                        
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.8s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner9.jpg")
                        .oferta-capa
                            h3 Orlando Básico Plus
                            h3 7 Días / 6 Noches
                            a.oferta-informacion(href="orlando-basico-plus.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 809
                        a.reserva(href="orlando-basico-plus.html") Reservar
                        
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.5s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner10.jpg")
                        .oferta-capa
                            h3 Family Pack Premium
                            h3 8 Días / 7 Noches
                            a.oferta-informacion(href="family-pack-premium.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 927
                        a.reserva(href="family-pack-premium.html") Reservar
                        
                        
        .contador.entero
            .medio
                h2.titulo Ya tenemos 
                .cont
                    span.contador-contenido
                        p(data-valor="500") 0
                        h3  Vuelos
                    span.contador-contenido
                        p(data-valor="10") 0
                        h3  Paquetes
                    span.contador-contenido
                        p(data-valor="1000") 0
                        h3  Ventas 
        .galeria.entero
            .medio
                h2.titulo Podrás Visitar
                .galeria-contenido
                    img.wow.rubberBand(src="imagenes/beneficios/1.jpg")
                    img.wow.rubberBand(src="imagenes/beneficios/2.jpg")
                    img.wow.rubberBand(src="imagenes/beneficios/3.jpg")
                    img.wow.rubberBand(src="imagenes/beneficios/4.jpg")
                    img.wow.rubberBand(src="imagenes/beneficios/5.jpg")
                    img.wow.rubberBand(src="imagenes/beneficios/6.jpg")
                    img.wow.rubberBand(src="imagenes/beneficios/7.jpg")
                    img.wow.rubberBand(src="imagenes/beneficios/8.jpg")
                    img.wow.rubberBand(src="imagenes/beneficios/9.jpg")
                    img.wow.rubberBand(src="imagenes/beneficios/10.jpg")
        .boletin.entero
            .medio
                h2.titulo.wow.bounceInUp  Suscribete a nuestro boletín.!
                p.wow.fadeIn Dejanos tu correo y seras uno de los primeros  en enterarte de nuestras ofertas
                form.wow.fadeIn(method='POST' action='/register')
                    input.text(type='text',placeholder="E-mail")
                    input.boton(type='submit' value="Enviar")
        .aliados.entero
            .medio
                h2.titulo.wow.bounceInUp.titulo-aliado Nuestros Aliados Son: 
                .aliados-contenido.owl-carousel.owl-theme
                    img.item.wow.fadeIn(src="imagenes/convenios/1.png")
                    img.item.wow.fadeIn(src="imagenes/convenios/2.png")
                    img.item.wow.fadeIn(src="imagenes/convenios/3.png")
                    img.item.wow.fadeIn(src="imagenes/convenios/4.png")
                    img.item.wow.fadeIn(src="imagenes/convenios/5.png")
                    img.item.wow.fadeIn(src="imagenes/convenios/6.png")
                    img.item.wow.fadeIn(src="imagenes/convenios/7.png")
                    img.item.wow.fadeIn(src="imagenes/convenios/8.png")
                    img.item.wow.fadeIn(src="imagenes/convenios/9.png")
                    img.item.wow.fadeIn(src="imagenes/convenios/10.png")
                    img.item.wow.fadeIn(src="imagenes/convenios/11.png")
                    img.item.wow.fadeIn(src="imagenes/convenios/12.png")
                    img.item.wow.fadeIn(src="imagenes/convenios/13.png")
                    img.item.wow.fadeIn(src="imagenes/convenios/14.png")
        .mapa.entero
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2319.6043239784235!2d-77.02795758815967!3d-12.105722467348928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c86c91a27573%3A0xd03d555fb587723b!2sLos+Gorriones+151%2C+Surquillo+15047!5e0!3m2!1ses-419!2spe!4v1505862961138",width="100%",height="300",frameborder="0",style="border:0",allowfullscreen)
        script(src="js/efectos.js") 
        script(src="js/wow.min.js") 
        script(src="js/carrusel.js") 
        script new WOW().init();
        script(type='text/javascript').
          var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
          (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/59cec3334854b82732ff2c4c/default';
          s1.charset='UTF-8';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
          })();
          
          
          $('.owl-carousel').owlCarousel({
          
          loop:true,
          margin:20,
          nav:true,
          autoplay:true,
          responsive:{
          0:{
          items:1
          },
          600:{
          items:3
          },
          1000:{
          items:5
          }
          }
          })
    include footer 
    .ultimo.entero
        p.medio  Lineas Tour Operador 2017 - Todos Los Derechos Reservados