header.entero
    .medio
        img(src="imagenes/logo-blanco.png")
        i.icon-menu
        ul.menu
            a.imagen-logo(href="index.html")
                img(src="imagenes/logo-blanco.png")
            li.icon-direccion
                a(href="index.html") Inicio
            li.icon-avion
                a(href="paquetes.html") Paquetes
            li.icon-galeria
                a(href="galeria.html") Galería
            li.icon-flag
                a(href="vista-360.htm") Vista 360°
