doctype html
html(lang="es")
    head
      title Lineas Tour Operador - Agencia Mayorista de  Viajes
      include metas/metas-index.pug
      meta(charset="UTF-8")
      link(rel="stylesheet",href="css/estilos.css")
      link(rel="stylesheet",href="css/menu.css")
      link(rel="stylesheet",href="css/slider.css")
      link(rel="stylesheet",href="css/styles.css")
      link(rel="stylesheet",href="css/animate.css")
      link(rel="stylesheet",href="css/preloader.css")
      link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Rochester")
      meta(name='theme-color', content='#961B0C')
      meta(name='msapplication-navbutton-color', content='#961B0C')
      meta(name='apple-mobile-web-app-capable', content='yes')
      meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
      script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    include menu.pug
    include slider.pug
    body.contenido
        include preloader.pug
        .primera-seccion.entero
            .medio
                h2.titulo ¿Por qué somos los mejores?
                .contenedor-primero
                    .seccion.wow.fadeInUp(data-wow-delay=".2s")
                        img(src="imagenes/primer/primer.png")
                        h3  Viajes De En Sueños
                        p Contamos con los mejores paquetes s paquetes del merca s paquetes d
                    .seccion.wow.fadeInUp(data-wow-delay=".6s")
                        img(src="imagenes/primer/segundo.png")
                        h3  Reserva En Línea
                        p Contamos con los mejores paquetes s paquetes  del merca s paquetes d
                    .seccion.wow.fadeInUp(data-wow-delay="1s")
                        img(src="imagenes/primer/tercero.png")
                        h3  Descubre
                        p Contamos con los mejores paquetes s paquetes  del merca s paquetes d
                    .seccion.wow.fadeInUp(data-wow-delay="1.4s")
                        img(src="imagenes/primer/cuarto.png")
                        h3  Chat En Línea
                        p Contamos con los mejores paquetes s paquetes  del merca s paquetes d
        .ofertas.entero
            .medio
                h2.titulo.wow.zoomIn Nuestros Programas de Introducción con 1 Noche Gratis
                
                .ofertas-items.wow.fadeInUp(data-wow-delay='.1s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/parques-extremos-acuaticos.jpg")
                        .oferta-capa
                            h3 Parques Acuáticos Extremos
                            h3 3 Días / 3 Noches
                            a.oferta-informacion(href="parques-extremos-acuaticos.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 297
                        a.reserva(href="parques-extremos-acuaticos.html") Reservar
                        
                        
                        
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.3s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner2.jpg")
                        .oferta-capa
                            h3 Re Descubre Orlando Mucho Mas Que Solo Disney
                            h3 4 Días / 4 Noches 
                            a.oferta-informacion(href="re-descubre-orlando-mucho-mas-que-solo-disney-2.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 315
                        a.reserva(href="re-descubre-orlando-mucho-mas-que-solo-disney-2.html") Reservar
                        
                
                        
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.5s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner3.jpg")
                        .oferta-capa
                            h3 Mágicos Estudios
                            h3 3 Días / 3 Noche 
                            a.oferta-informacion(href="magicos-studios.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 430
                        a.reserva(href="magicos-studios.html") Reservar
                        
                        
                        
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.5s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/paquete4.jpg")
                        .oferta-capa
                            h3 Re Descubre Orlando - Mucho Mas Que Solo Disney 
                            h3 4 Días / 4 Noches
                            a.oferta-informacion(href="re-descubre-orlando-mucho-mas-que-solo-disney-1.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 434
                        a.reserva(href="re-descubre-orlando-mucho-mas-que-solo-disney-1.html") Reservar
                
                
                .ofertas-items.wow.fadeInUp(data-wow-delay='.3s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner6.jpg")
                        .oferta-capa
                            h3 Diversión Mágica Extrema
                            h3 5 Días / 5 Noches
                            a.oferta-informacion(href="magica-extrema.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 513
                        a.reserva(href="magica-extrema.html") Reservar
                        
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.7s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner8.jpg")
                        .oferta-capa
                            h3 Mágico Espacial Extremo
                            h3 6 Días / 5 Noches
                            a.oferta-informacion(href="magico-espacial-extremo.html")  MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 595
                        a.reserva(href="magico-espacial-extremo.html")  Reservar
                        
                      
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.5s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner7.jpg")
                        .oferta-capa
                            h3 Unimagic Extreme
                            h3 6 Días / 5 Noches 
                            a.oferta-informacion(href="unimagic.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 785
                        a.reserva(href="unimagic.html") Reservar
                        
                        
                
                        
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.8s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner9.jpg")
                        .oferta-capa
                            h3 Orlando Básico Plus
                            h3 7 Días / 6 Noches
                            a.oferta-informacion(href="orlando-basico-plus.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 809
                        a.reserva(href="orlando-basico-plus.html") Reservar
                        
                        
                .ofertas-items.wow.fadeInUp(data-wow-delay='.5s')
                    .oferta-top
                        img(src="imagenes/banner-plantilla/banner10.jpg")
                        .oferta-capa
                            h3 Family Pack Premium
                            h3 8 Días / 7 Noches
                            a.oferta-informacion(href="family-pack-premium.html") MAS INFORMACION
                    .oferta-bottom
                        span
                            h4 Desde
                            h3 USD 927
                        a.reserva(href="family-pack-premium.html") Reservar
        script(src="js/efectos.js") 
        script(src="js/wow.min.js") 
        script new WOW().init();
        script(type='text/javascript').
          var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
          (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/59cec3334854b82732ff2c4c/default';
          s1.charset='UTF-8';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
          })();
    // End of Tawk.to Script
        
    include footer 
    .ultimo.entero
        p.medio  Lineas Tour Operador 2017 - Todos Los Derechos Reservados