body {
  background-image: url(../imagenes/fondo.jpg); }

.banner-halloween {
  margin-top: 100px;
  width: 100%;
  height: calc(85vh - 100px);
  position: relative;
  overflow: hidden; }
  .banner-halloween .imagen-banner {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.texto-encima {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .texto-encima h3 {
    font-family: 'Sedgwick Ave Display', cursive;
    width: 50%;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: normal; }
  .texto-encima .imagen-general {
    width: 30%;
    height: 400px; }

.info {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 20px; }
  .info .medio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .info img {
    width: 180px;
    height: 180px;
    margin: 10px;
    border-radius: 50%;
    border: 4px solid white;
    -webkit-box-shadow: -1px 9px 5px -6px rgba(255, 255, 255, 0.52);
    box-shadow: -1px 9px 5px -6px rgba(255, 255, 255, 0.52);
    -o-object-fit: cover;
    object-fit: cover; }

.info-items {
  width: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  margin: 20px; }
  .info-items h3 {
    color: white;
    text-align: center; }

.pasajes {
  background-position: bottom; }
  .pasajes .medio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.incluye {
  width: 40%;
  padding: 15px;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px; }

.tarifa .medio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.contenidos {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.contenidos-items {
  background: rgba(255, 255, 255, 0.8);
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd; }
  .contenidos-items h3 {
    border-bottom: 1px solid #333;
    padding: 10px; }

.ultimo-halloween .medio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 600px;
  overflow: hidden;
  text-align: center; }
  .ultimo-halloween .medio h3 {
    padding: 10px;
    border-bottom: 1px solid black; }
  .ultimo-halloween .medio img {
    position: relative;
    bottom: 0;
    width: 600px; }

.informacion {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .informacion li {
    padding: 5px;
    width: 100%; }
  .informacion a {
    width: 80%;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 5px; }

footer {
  margin: 0 !important; }

@media screen and (max-width: 1000px) {
  .tarifa .medio {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .tarifa img {
    width: 300px; } }

@media screen and (max-width: 768px) {
  .imagen-general {
    width: 100%; }
  .info {
    height: auto; }
  .tarifa .medio {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto; }
  .ultimo-halloween .medio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto; }
    .ultimo-halloween .medio img {
      width: 600px; }
  .imagen-general {
    width: 50% !important; } }

@media screen and (max-width: 500px) {
  .info .medio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .info-items {
    width: 100%; }
  .pasajes {
    height: auto; }
    .pasajes .medio {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      height: auto !important; }
      .pasajes .medio .incluye {
        width: 100%; }
  .tarifa {
    height: auto; }
    .tarifa img {
      width: 250px; }
  .contenidos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .contenidos .contenidos-items {
      width: 100%; }
  .ultimo-halloween .medio img {
    width: 300px; }
  .texto-encima {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .texto-encima h3 {
      font-size: 30px;
      width: 100%; }
    .texto-encima img {
      width: 300px !important;
      height: 300px !important; } }
